<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 col-xs-6 col-xs-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">

                    <p> If you already have an account <a [routerLink]="['/sign-in']">Sign-In</a> </p>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary col-md-10 col-sm-10 col-xs-10  col-md-offset-1 col-sm-offset-1 col-xs-offset-1"
                                    (click)="onFBLogin()">Facebook</button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger col-md-10 col-sm-10 col-xs-10  col-md-offset-1 col-sm-offset-1 col-xs-offset-1"
                                    (click)="onGGLLogin()">Google</button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger col-md-10 col-sm-10 col-xs-10  col-md-offset-1 col-sm-offset-1 col-xs-offset-1"
                                    (click)="onTTRLogin()">Twitter</button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                            <hr>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-5">
                            <hr>
                        </div>
                    </div>
                    <br />

                    <form (ngSubmit)="onSignUp(f)"
                            #f="ngForm"
                            method="post"
                            [formGroup]="signUpForm">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="First Name"
                                           formControlName="firstname"
                                           name="firstname"
                                    >
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Last name"
                                           formControlName="lastname"
                                           name="lastname"
                                    >
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="email"
                                           class="form-control"
                                           placeholder="E-mail address"
                                           formControlName="email"
                                           name="email"
                                    >
                                </div>
                            </div>
                          <br />
                          <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="email"
                                           class="form-control"
                                           placeholder="Username"
                                           formControlName="username"
                                           name="username"
                                    >
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="password"
                                           class="form-control"
                                           placeholder="Password"
                                           formControlName="password"
                                           name="password"
                                    >
                                </div>
                            </div>
                            <hr>
                            <button class="btn btn-success col-md-8 col-md-offset-2" type="submit" [disabled]="!signUpForm.valid">Submit!</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
